@model PostModel
<div class="form-card">
    <h2 class="fs-title" style="text-align: center">Add New Organization</h2>
</div>
<form asp-controller="Post" asp-action="AddOrg" method="POST" style="display: inline">
    <div class="form-card" style="text-align: center; width: 500px; margin: auto">
        <div class="form-group">
            <input type="text" asp-for="OrgName" placeholder="Organiztion Name" />
            @Html.ValidationMessageFor(m => m.OrgName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <textarea asp-for="OrgShortDescr" placeholder="Quick Organization Description" style="width: 500px;" rows="3"></textarea>
            @Html.ValidationMessageFor(m => m.OrgShortDescr, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <textarea asp-for="OrgLongDescr" placeholder="Longer Organization Description" style="width: 500px" rows="5"></textarea>
            @Html.ValidationMessageFor(m => m.OrgLongDescr, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <input type="url" asp-for="OrgLink" placeholder="Organization Link" />
            @Html.ValidationMessageFor(m => m.OrgLink, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label asp-for="OrgLogoName" class="control-label"></label>
            <input asp-for="OrgLogoName" class="form-control" />
            @Html.ValidationMessageFor(m => m.OrgLogoName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="text-align: center">
            <label asp-for="OrgLogoFile" class="control-label"></label>
            <input asp-for="OrgLogoFile" accept="image/*" />
            @Html.ValidationMessageFor(m => m.OrgLogoFile, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="action-button"><span>Add Organization</span></button>
    </div>
</form>